h2 {
    margin-bottom: 17px;
}

form {
    margin-left: 40px;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Arapey', serif;
}

input {
    display: block;
    width: 80%;
    margin-top: 10px;
    height: 20px;
}

textarea {
    margin-top: 13px;
    max-width: 700px;
}

main {
    height: 520px;
}

#sub-btn {
    width: 15%;
   
    font-family: 'Arapey', serif;
    margin-top: ;
    display: block;
    height: 40px;
    
}